{:paths   ["src/clj" "src/java" "src/resources" "target/classes"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:build {:extra-paths ["build"]
                   :extra-deps  {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                                 org.babashka/cli {:mvn/version "0.4.39"}}
                   :main-opts ["-m" "build"]
                   :ns-default  build}}
 }
